<div class="footer navbar-fixed-bottom">
      <p class="text-center">&copy; 2017 | Events Register</p>
      <p class="text-center">Developed by: Gbenga Ode</p>
    </div>

    <!--Scripts-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>