<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="" ><b>Events Reg</b></a>
				</div>
				
					<button class="btn btn-danger navbar-btn pull-right" href="/signOut" id="" method="get" action="/">Sign Out</button>
			
				<ul class=" nav navbar-nav pull-right">
					<li><a href="" id="" method="get" action="/dashboard">DASHBOARD</a></li>
					<li><a href="" id="" method="get" action="/event">EVENTS</a></li>
				</ul>

					<a class="btn btn-success navbar-btn pull-right" method="get" action="/create">Create An Event</a>
			
			</div>
		</nav>