<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="" ><b>Events Reg</b></a>
				</div>
				
					<button class="btn btn-danger navbar-btn pull-right" href="/signOut" id="">Sign Out</button>
			
				<ul class=" nav navbar-nav pull-right">
					<li><a href="" id="">DASHBOARD</a></li>
					<li><a href="" id="">EVENTS</a></li>
				</ul>

					<a class="btn btn-success navbar-btn pull-right" >Create An Event</a>
			
			</div>
		</nav>