<html>
<% include ../partials/head %>
<% include ../partials/navbar %>
<body>
<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3> DASHBOARD</h3>
				<hr></hr>
				<div class="row">
					<div class="col-md-10">
						<h4>UPCOMING EVENTS</h4>
						<div id="inserthere"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
</body>
</html>